<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Covid-19 Statistic</title>
</head>
<body>
<h1>Covid-19 Statistic</h1>
<div>
    <ul>
        <li>Confirmed:</li>
        <li th:text="${total.confirmed}"></li>
        <li>Deaths:</li>
        <li th:text="${total.deaths}"></li>
        <li>Recovered:</li>
        <li th:text="${total.recovered}"></li>
        <li>Active:</li>
        <li th:text="${total.active}"></li>
    </ul>
</div>
</body>
</html>